{{#d-section class="navigation-container"}}
  {{add-category-tag-classes category=category}}
  {{#if category.uploaded_background.url}}
    <section
      class="category-heading with-background"
      style="background-image: url({{category.uploaded_background.url}});"
    >
      {{#if category.uploaded_logo.url}}
        {{cdn-img
          src=category.uploaded_logo.url
          class="category-logo"
          width=category.uploaded_logo.width
          height=category.uploaded_logo.height
        }}
      {{/if}}
    </section>
  {{else if category.uploaded_logo.url}}
    <section class="category-heading">
      {{cdn-img
        src=category.uploaded_logo.url
        class="category-logo"
        width=category.uploaded_logo.width
        height=category.uploaded_logo.height
      }}
    </section>
  {{/if}}
  <div
    class="category-navigation
      {{unless category.uploaded_background.url "mt-4"}}

      {{if themeSettings.show_sidebar "dc-sidebar-visible"}}"
  >
    {{d-navigation
      category=category
      filterMode=filterMode
      noSubcategories=noSubcategories
      canCreateTopic=canCreateTopic
      createTopic=(route-action "createTopic")
      createTopicDisabled=cannotCreateTopicOnCategory
      hasDraft=draft
      editCategory=(route-action "editCategory" category)
    }}
    {{plugin-outlet name="category-navigation" args=(hash category=category)}}
  </div>
{{/d-section}}