{{! https://github.com/discourse/discourse/blob/master/app/assets/javascripts/discourse/app/templates/discovery.hbs }}
{{#if errorHtml}}
  {{html-safe errorHtml}}
{{else}}
  <div class="container">
    {{discourse-banner user=currentUser banner=site.banner}}
  </div>
  <div class="container">
    <div class="dc-row">
      {{#if themeSettings.show_sidebar}}
        <div class="dc-col-lg-3 dc-sidebar-hack-width">
          <div class="d-none d-lg-flex h-100">
            {{dc-sidebar}}
          </div>
        </div>
      {{/if}}
      <div class="dc-col {{if themeSettings.show_sidebar "dc-col-lg-9"}}">
        <div class="list-controls">
          <div class="container">
            {{outlet "navigation-bar"}}
          </div>
        </div>
        {{conditional-loading-spinner condition=loading}}
        <div class="list-container {{if loading "hidden"}}">
          <div class="full-width">
            <div id="header-list-area">
              {{outlet "header-list-container"}}
            </div>
          </div>
          <div class="full-width">
            <div id="list-area">
              {{plugin-outlet
                name="discovery-list-container-top"
                args=(hash category=category listLoading=loading)
              }}
              {{outlet "list-container"}}
            </div>
          </div>
        </div>
        {{plugin-outlet name="discovery-below"}}
      </div>
    </div>
  </div>
{{/if}}