<form class="forgot-password-modal-form">
  {{#d-modal-body
    class="forgot-password-modal"
    dismissable=false
    showCloseButton=true
    showLogo=true
  }}
    <div>
      <p>
        Back to Login?
        <a href id="login-link" {{action "showLogin"}}>
          {{i18n "log_in"}}
        </a>
      </p>
    </div>
    {{#if offerHelp}}
      {{html-safe offerHelp}}
    {{else}}
      <label for="username-or-email">
        {{i18n "forgot_password.invite"}}
      </label>
      {{text-field
        value=accountEmailOrUsername
        placeholderKey="login.email_placeholder"
        id="username-or-email"
        autocorrect="off"
        autocapitalize="off"
      }}
    {{/if}}
    <div>
      {{#if offerHelp}}
        {{d-button
          class="btn-large btn-primary"
          label="forgot_password.button_ok"
          type="submit"
          action=(action "ok")
          class="btn btn-primary btn-lg btn-block"
        }}
        {{#unless helpSeen}}
          {{d-button
            class="btn-large"
            label="forgot_password.button_help"
            icon="question-circle"
            action=(action "help")
          }}
        {{/unless}}
      {{else}}
        {{d-button
          action=(action "resetPassword")
          label="forgot_password.reset"
          disabled=submitDisabled
          class="btn-primary forgot-password-reset btn-lg btn-block"
          type="submit"
        }}
      {{/if}}
    </div>
  {{/d-modal-body}}
</form>