{{#if themeSettings.show_current_efforts}}
  {{#if currentEfforts.length}}
    <div class="dc-categories-container">
      <h2 class="dc-heading mt-4 mb-2">
        {{theme-i18n "dc.categories.currentEfforts.title"}}
      </h2>
      <p>
        {{{theme-i18n "dc.categories.currentEfforts.description"}}}
      </p>
      <div class="dc-row mt-4">
        {{#each currentEfforts as |t|}}
          <div class="dc-col-sm-4">
            {{dc-topic-list-item-small topic=t}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/if}}
{{#if topicCategories}}
  <div class="dc-categories-container">
    <h2 class="dc-heading mt-4 mb-2">
      {{theme-i18n "dc.categories.categories.title"}}
    </h2>
    <div class="dc-row mt-4">
      {{#each topicCategories as |c|}}
        <div class="dc-col-sm-6">
          {{dc-category-card category=c}}
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}