<div class="dc-categories-nav-container">
  <ul class="dc-categories-nav">
    {{#each categories as |category|}}
      <li>
        <a id="category-{{category.id}}" href={{category.url}}>
          {{category.name}}
        </a>
      </li>
    {{/each}}
    {{#each customLinks as |link|}}
      <li>
        <a href={{link.url}} target={{link.target}}>
          {{link.text}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>