<a
  class="dc-category dc-card"
  href={{category.url}}
  style="border-top-color: #{{category.color}};"
>
  <div class="dc-card__content">
    <h2 class="dc-card__title dc-clamp-2">
      {{category.name}}
    </h2>
    <div class="dc-card__text dc-clamp-2">
      {{#if category.description_excerpt}}
        {{{dir-span category.description_excerpt}}}
      {{/if}}
    </div>
  </div>
  <div class="dc-card__meta">
    <span class="material-icons">
      comment
    </span>
    <p class="m-0 ml-1 dc-text-light">
      {{category.totalTopicCount}}
    </p>
    {{#if category.tdc_is_collective}}
      <span class="ml-2 material-icons">
        supervisor_account
      </span>
      <p class="m-0 ml-1 dc-text-light">
        {{groupCount}}
      </p>
    {{/if}}
  </div>
</a>