<div class="dc-hero">
  <div class="dc-row align-items-center">
    <div class="dc-col-xl-7">
      <h1 class="dc-hero__heading dc-display">
        {{{theme-i18n "dc.hero.heading"}}}
      </h1>
      <p class="dc-hero__subheading">
        {{theme-i18n "dc.hero.subheading"}}
      </p>
      {{! TODO: which are the links to use within the buttons below }}
      <a href="#" class="btn btn-primary btn-lg">
        {{theme-i18n "dc.hero.cta"}}
      </a>
      <a href="#" class="btn btn-link btn-lg">
        {{theme-i18n "dc.hero.cta_option"}}
      </a>
    </div>
    <div class="dc-col d-none d-xl-block text-right">
      <img
        src="{{theme-setting "theme_uploads.hero_image"}}"
        width="400px"
        height="400px"
      />
    </div>
  </div>
</div>