<div class="dc-header-cloak" {{on "click" this.closeMenu}}></div>
<div class="dc-menu-content">
  <header class="dc-menu-content-header">
    <a class="btn-transparent" href={{homepageURL}} {{on "click" this.closeMenu}}>
      <img class="dc-menu-logo" src="{{siteSettings.site_logo_url}}" alt="{{siteSettings.title}}" />
    </a>
    <button class="btn-transparent btn-close material-icons" aria-label="close menu" {{on "click" this.closeMenu}}>
      close
    </button>
  </header>
  <div class="dc-container-fluid">
    <div class="dc-row">
      <div class="dc-col">
        <a href="https://debtcollective.org/debt-union/" target="_blank" class="dc-header-link dc-menu-link">Join the Union</a>
        <a href="https://community.debtcollective.org/" class="dc-header-link dc-menu-link">Community</a>
        <a href="https://teespring.com/stores/debt-collective" target="_blank" class="dc-header-link dc-menu-link">Store</a>
        <details class="dc-collapser">
          <summary class="dc-header-link">Take Action!</summary>
          <a href="https://community.debtcollective.org/calendar" class="dc-collapser-link" target="_self">Events</a>
          <a href="https://strike.debtcollective.org/" class="dc-collapser-link" target="_blank">Student Debt Strike</a>
          <a href="https://tools.debtcollective.org/" class="dc-collapser-link" target="_blank">Dispute Your Debt</a>
        </details>
      </div>
    </div>
  </div>
</div>