<div class="sidebar-actions mb-3 mt-4">
  {{#if currentUser}}
    {{d-button
      class="btn btn-block btn-primary"
      translatedLabel="New topic"
      action=(route-action "createTopic")
    }}
  {{else}}
    {{d-button
      class="btn btn-block btn-primary"
      translatedLabel="New topic"
      action=(route-action "showLogin")
    }}
  {{/if}}
</div>
<div class="m-0 d-flex flex-column">
  <a
    class="sidebar-raw-link {{if isLatestPage "active"}}"
    href="/latest"
    {{action "handleClickLink" null}}
  >
    All discussions
  </a>
  <a
    class="sidebar-raw-link {{if isEventsPage "active"}}"
    href="{{themeSettings.events_url}}"
    {{action "handleClickLink" null}}
  >
    All events
  </a>
  <a
    class="sidebar-raw-link {{if isCategoriesPage "active"}}"
    href="/categories"
    {{action "handleClickLink" null}}
  >
    All categories
  </a>
  <a
    id="search-button"
    class="sidebar-raw-link search-link"
    href="/search"
    title="search topics, posts, users, or categories"
    aria-label="search topics, posts, users, or categories"
    {{action "handleClickLink" null}}
  >
    <span class="material-icons icon">
      search
    </span>
    Search
  </a>
</div>
<ul class="list-unstyled scrollable-area">
  {{#each categories as |category|}}
    {{! Avoid to iterate if this category is a subcategory }}
    {{#unless category.parentCategory}}
      {{#dc-sidebar-item category=category currentCategoryId=activeCategoryId}}
        {{dc-sidebar-link category=category onClick=(action "handleClickLink")}}
        {{#if category.subcategories}}
          {{#dc-sidebar-subcategories
            category=category
            currentCategoryId=activeCategoryId
          }}
            {{#each category.subcategories as |subcategory|}}
              {{#dc-sidebar-item
                category=subcategory
                currentCategoryId=activeCategoryId
              }}
                {{dc-sidebar-link
                  category=subcategory
                  onClick=(action "handleClickLink")
                }}
              {{/dc-sidebar-item}}
            {{/each}}
          {{/dc-sidebar-subcategories}}
        {{/if}}
      {{/dc-sidebar-item}}
    {{/unless}}
  {{/each}}
</ul>