<div class="mb-4">
  <a
    class="sidebar-link {{unless activeCategoryId "active"}}"
    href="/categories"
    {{action "setActiveCategoryId" null}}
  >
    All categories
  </a>
</div>
<ul class="list-unstyled">
  {{#each categories as |category|}}
    {{! Avoid to iterate if this category is a subcategory }}
    {{#unless category.parentCategory}}
      {{#dc-sidebar-item category=category currentCategoryId=activeCategoryId}}
        <a
          id="sidebar-link-{{category.id}}"
          class="dynamic-hover-color"
          style="color: #{{category.color}};"
          href="{{category.url}}"
          {{action "setActiveCategoryId" category.id}}
        >
          {{#if category.read_restricted}}
            {{d-icon "lock"}}
          {{/if}}
          {{category.name}}
        </a>
        {{#if category.subcategories}}
          <ul class="ml-4 list-unstyled list-nested">
            {{#each category.subcategories as |subcategory|}}
              {{#dc-sidebar-item
                category=subcategory
                currentCategoryId=activeCategoryId
              }}
                <a
                  id="sidebar-link-{{subcategory.id}}"
                  class="dynamic-hover-color"
                  style="color: #{{subcategory.color}};"
                  href="{{subcategory.url}}"
                  {{action "setActiveCategoryId" subcategory.id}}
                >
                  {{#if subcategory.read_restricted}}
                    {{d-icon "lock"}}
                  {{/if}}
                  {{subcategory.name}}
                </a>
              {{/dc-sidebar-item}}
            {{/each}}
          </ul>
        {{/if}}
      {{/dc-sidebar-item}}
    {{/unless}}
  {{/each}}
</ul>