{{! letting the component define the anchor tag will make things harder to use router }}
<a
  id="sidebar-link-{{category.id}}"
  class="dynamic-hover-color"
  style="color: #{{category.color}};"
  href="{{category.url}}"
  {{action "handlOnClick" category.id}}
>
  {{#if category.read_restricted}}
    {{d-icon "lock"}}
  {{/if}}
  {{category.name}}
</a>