<div class="sidebar-actions mb-3 mt-4">
  {{d-button
    class="btn btn-block btn-primary"
    translatedLabel="New topic"
    action=(route-action "createTopic")
  }}
</div>
<div class="m-0 d-flex flex-column">
  <a
    class="sidebar-raw-link {{unless activeCategoryId "active"}}"
    href="/categories"
    {{action "handleClickLink" null}}
  >
    All categories
  </a>
</div>
<ul class="list-unstyled scrollable-area">
  {{#each categories as |category|}}
    {{! Avoid to iterate if this category is a subcategory }}
    {{#unless category.parentCategory}}
      {{#dc-sidebar-item category=category currentCategoryId=activeCategoryId}}
        {{dc-sidebar-link category=category onClick=(action "handleClickLink")}}
        {{#if category.subcategories}}
          {{#dc-sidebar-subcategories
            category=category
            currentCategoryId=activeCategoryId
          }}
            {{#each category.subcategories as |subcategory|}}
              {{#dc-sidebar-item
                category=subcategory
                currentCategoryId=activeCategoryId
              }}
                {{dc-sidebar-link
                  category=subcategory
                  onClick=(action "handleClickLink")
                }}
              {{/dc-sidebar-item}}
            {{/each}}
          {{/dc-sidebar-subcategories}}
        {{/if}}
      {{/dc-sidebar-item}}
    {{/unless}}
  {{/each}}
</ul>