<div class="dc-row h-100">
  {{topic-post-badges
    newPosts=topic.totalUnread
    unseen=topic.unseen
    url=topic.lastUnreadUrl
  }}
  <div class="dc-col avatar-col">
    <div class="mr-2">
      {{raw "list/dc-topic-author" posters=topic.featuredUsers}}
    </div>
  </div>
  <div class="dc-col">
    <div class="d-flex flex-column justify-content-between h-100">
      <div class="dc-card__content">
        <header
          class="dc-card__header dc-card__header d-flex justify-content-center flex-column align-items-stretch"
        >
          <h2 class="dc-card__title dc-clamp-2 has-icon">
            {{#if topic.pinned}}
              {{d-icon "thumbtack"}}
            {{/if}}
            {{{topic.fancyTitle}}}
            <div class="hidden d-sm-block">
              {{dc-topic-engagement topic=topic}}
            </div>
          </h2>
          <div class="dc-card__meta dc-text-small">
            <p class="dc-clamp-1">
              <strong>
                {{#if isUnreplied}}
                  {{topicAuthor.displayName}}
                {{else}}
                  <small class="material-icons reply-icon">
                    reply
                  </small>
                  {{lastRepliedAuthor.displayName}}
                {{/if}}
              </strong>
              <span class="dc-text-light">
                {{#if isUnreplied}}
                  started
                  <span>
                    {{dc-relative-date topic.createdAt}}
                  </span>
                {{else}}
                  replied
                  <span>
                    {{dc-relative-date topic.last_posted_at}}
                  </span>
                {{/if}}
              </span>
            </p>
          </div>
        </header>
        {{#if topic.pinned}}
          {{#if topic.hasExcerpt}}
            <div class="dc-card__text dc-clamp-2">
              {{{dir-span topic.escapedExcerpt}}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>