{{! https://github.com/discourse/discourse/tree/master/app/assets/javascripts/discourse/app/templates/components/topic-list-item.hbs }}
{{#if bulkSelectEnabled}}
  <div
    class="dc-topic dc-card"
    style="border-top-color: #{{topic.category.color}};"
  >
    <div class="dc-topic-bulk-select">
      <input type="checkbox" class="bulk-select" />
    </div>
    {{dc-topic-card-content topic=topic}}
  </div>
{{else}}
  <a
    class="dc-topic dc-card"
    href={{topic.lastUnreadUrl}}
    style="border-top-color: #{{topic.category.color}};"
  >
    {{dc-topic-card-content topic=topic}}
  </a>
{{/if}}