{{!-- https://github.com/discourse/discourse/blob/master/app/assets/javascripts/discourse/templates/list/topic-list-item.raw.hbs#L1 --}}
<a class="dc-topic dc-card" href={{topic.lastUnreadUrl}} style="border-top-color: #{{topic.category.color}};">
  <div class="dc-card__content">
    <h2 class="dc-card__title">
      {{topic.fancyTitle}}
    </h2>
    <div class="dc-card__text dc-clamp-3">
      {{raw "list/topic-excerpt" topic=topic}}
    </div>
  </div>
  <div class="dc-card__meta">
    <span class="material-icons">comment</span>
    <p class="m-0 ml-1 dc-text-light">{{topic.replyCount}}</p>
  </div>
</a>